<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:cxf="http://camel.apache.org/schema/cxf"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
					       http://www.springframework.org/schema/beans/spring-beans.xsd        
					       http://camel.apache.org/schema/spring       
					       http://camel.apache.org/schema/spring/camel-spring.xsd       
					       http://camel.apache.org/schema/cxf       
					       http://camel.apache.org/schema/cxf/camel-cxf.xsd" >  
    
    <!-- *********** [ENDPOINTs] *********** -->
    <cxf:cxfEndpoint id="AuditoriawsSOAP11"
                     address="/ws/soap/uti/auditoriasoap11"
			         endpointName="tns:AuditoriaPortSOAP11"			          
			         serviceName="tns:AuditoriaService"
			         wsdlURL="wsdl/uti-auditoria.wsdl" 
			         xmlns:tns="http://visanet.com.pe/ws/soap/util/auditoria" > 
         <cxf:properties>
              <entry key="dataFormat"              value="PAYLOAD" />
              <entry key="source-preferred-format" value="dom"     />
         </cxf:properties>
    </cxf:cxfEndpoint>
 
    <cxf:cxfEndpoint id="AuditoriawsSOAP12"
                     address="/ws/soap/uti/auditoriasoap12"
			         endpointName="tns:AuditoriaPortSOAP12"			          
			         serviceName="tns:AuditoriaService"
			         wsdlURL="wsdl/uti-auditoria.wsdl" 
			         xmlns:tns="http://visanet.com.pe/ws/soap/util/auditoria" > 
         <cxf:properties>
              <entry key="dataFormat"              value="PAYLOAD" /> 
              <entry key="source-preferred-format" value="dom"     /> 
         </cxf:properties>
    </cxf:cxfEndpoint> 
    
    
    <!-- *********** [ENDPOINTs] *********** --> 
    <camelContext id="_idFlujoCamelContext" 
                  streamCache="true" 
                  xmlns="http://camel.apache.org/schema/spring" 
                  xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" 
                  xmlns:typ="http://visanet.com.pe/ws/soap/util/auditoria/types" >
    
        <propertyPlaceholder id="_idPlaceholder" location="classpath:application.properties" />
         
		<dataFormats>    
		    <xmljson id="idXmlToJson" 
		             forceTopLevelObject="true" 
		             trimSpaces="true" 
		             rootName="newRoot" 
		             skipNamespaces="true" 
		             removeNamespacePrefixes="true" 
		             expandableProperties="d e" /> 
		</dataFormats>
 
        <route id="_idDummy_ExposeWsSOAP11Route" >            
            <from id="_idDummy_ExposeWsSOAP11From" uri="cxf:bean:AuditoriawsSOAP11" />            
            <log id="_idLog_01A" message="******************** 'REQUEST' - [Dummy_TemplateSOAP] - 'OPERACION:' [${header.operationName}] ******************** \n  ${body}" />
 
            <doTry id="_idDoTry_01" >
	            <recipientList id="_RedirectRecipientListSOAP11" >
	                 <simple>direct:${header.operationName}</simple>
	            </recipientList>
	            <doCatch id="_idDoCatch_01" > 
                     <exception>java.lang.Exception</exception> 
                     <log id="_idLog_02A" message="Exception: \n ${body}" /> 
                </doCatch> 
            </doTry>            
        </route>
         
        <route id="_idDummy_ExposeWsSOAP12Route" >
            <from id="_idDummy_ExposeWsSOAP12From" uri="cxf:bean:AuditoriawsSOAP12" />
            <log id="_idLog_01B" message="******************** 'REQUEST' - [Dummy_TemplateSOAP] - 'OPERACION:' [${header.operationName}] ******************** \n  ${body}" />  

            <doTry id="_idDoTry_02" >
	            <recipientList id="_RedirectRecipientListSOAP12" >
	                 <simple>direct:${header.operationName}</simple>
	            </recipientList>
	            <doCatch id="_idDoCatch_02" > 
                     <exception>java.lang.Exception</exception> 
                     <log id="_idLog_02B" message="Exception: \n ${body}" /> 
                </doCatch> 
            </doTry>   
        </route> 
           
        
        <!-- *********** [OPERACIONES] *********** -->  
        <route id="_idFlujoCamelRoute" >
            <from id="_idRegistroAuditoriaFrom" uri="direct:registroAuditoria" />
             
            <setProperty propertyName="bodyTEMP" >
                <simple>${body}</simple>
            </setProperty>

            <setProperty propertyName="listServiceJSON" >
                <simple>resource:classpath:{{ws.ruta.json.filtro}}</simple>
            </setProperty>
          
            <setBody id="_idBody_01" >
              <simple>${property.listServiceJSON}</simple>
            </setBody> 
 
	        <unmarshal id="_idTrans_01" ref="idXmlToJson" />  
             
            <log id="_idLog_01" message="lista FILTRO: \n [${body}]" /> 
       
            <setBody id="_idBody_02" >
              <simple><![CDATA[<ROOT>${body}${property.bodyTEMP}</ROOT>]]></simple>
            </setBody>
 
            <process id="_idProcessJava_01" ref="_idDepurateXMLProcessor_01" />  
            
            <log id="_idLog_02"  message="REQUEST 'XSLT' \n [${body}]" />
            
            <to  id="_idLog_06"  uri="xslt:xslt/{{ws.transf.xslt.file}}" />
            <log id="_idLog_03"  message="RESPONSE 'XSLT' \n [${body}]" />            
            
            <setBody id="_idBody_03" >
              <xpath>/*/*/typ:RegistroAuditoriaBodyRequest</xpath>
            </setBody> 
            
            <process id="_idProcessJava_02" ref="_idDepurateXMLProcessor_02" /> 
            
            <log id="_idLog_04"  message="RESPONSE 'XSLT' [DEPURADO] \n [${body}]" /> 
            
            <log id="_idLog_05"  message="Enviando XML depurato a: 'QUEUE' ..." /> 
            <to uri="{{ws.queue.component.out}}" /> 
            
        </route>
        
    </camelContext> 
    
    <bean id="_idDepurateXMLProcessor_01"  class="pe.com.capacitacion.processor.DepurateXMLProcesso_01" /> 
    <bean id="_idDepurateXMLProcessor_02"  class="pe.com.capacitacion.processor.DepurateXMLProcesso_02" /> 
 
    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent" >
        <property name="connectionFactory">
          <bean class="org.apache.activemq.ActiveMQConnectionFactory" >
            <property name="brokerURL" value="${spring.activemq.broker-url}" />
            <property name="userName"  value="${spring.activemq.user}" />
            <property name="password"  value="${spring.activemq.password}" />
          </bean>
        </property>
    </bean>
 
</beans>

